## All available configuration options, their descriptions and default values:
## https://github.com/netdata/netdata/tree/master/src/go/collectors/go.d.plugin/modules/proxysql#readme

jobs:                                                                                                                                                                                                                                                                                                                                                [0/4999]
  - name: local
    dsn: administrator:admin@tcp(127.0.0.1:6032)/
    autodetection_retry: 300
